@page
@model Car_Lots_R_Us.Pages.AddCarModel
@{
    ViewData["Title"] = "AddCar";
}

<div class="text-center" style="border: solid">
    <h1 class="display-4">Car Lots R' Us</h1>
</div>

<br />

<div>
    <h2>Add Car</h2>
</div>
<form method="post">
    <label for="IDN">ID Number:</label><br>
    <input type="number" id="IDN" name="NewCar.IDNumber"><br>
    <label for="Make">Make:</label><br>
    <input type="text" id="Make" name="NewCar.Make"><br>
    <label for="Model">Model:</label><br>
    <input type="text" id="Model" name="NewCar.Model"><br>
    <label for="Year">Year:</label><br>
    <input type="number" id="Year" name="NewCar.Year"><br>
    <label for="PurchaseP">Purchase Price:</label><br>
    <input type="number" id="PurchaseP" name="NewCar.PurchasePrice"><br>
    <label for="Miles">Miles:</label><br>
    <input type="number" id="Miles" name="NewCar.Miles"><br>
    <label for="SellingP">Selling Price:</label><br>
    <input type="number" id="SellingP" name="NewCar.SellingPrice"><br>
    <label for="SoldP">Sold Price:</label><br>
    <input type="number" id="SoldP" name="NewCar.SoldPrice"><br>
    <label for="Color">Color:</label><br>
    <input type="text" id="Color" name="NewCar.Color"><br>
    <label for="Condition">Condition:</label><br>
    <input type="radio" id="Great" name="NewCar.Condition" value="Great">
    <label for="Great">Great</label><br>
    <input type="radio" id="Good" name="NewCar.Condition" value="Good">
    <label for="Good">Good</label><br>
    <input type="radio" id="Average" name="NewCar.Condition" value="Average">
    <label for="Average">Average</label><br>
    <input type="radio" id="Terrible" name="NewCar.Condition" value="Terrible">
    <label for="Terrible">Terrible</label><br>
    <input type="radio" id="Destroyed" name="NewCar.Condition" value="Destroyed">
    <label for="Destroyed">Destroyed</label><br>
    <label for="InventoryS">Inventory Status:</label><br>
    <input type="radio" id="InS" name="NewCar.InventoryStatus" value="In Stock">
    <label for="InS">In Stock</label><br>
    <input type="radio" id="OnH" name="NewCar.InventoryStatus" value="On Hold">
    <label for="OnH">On hold</label><br>
    <input type="radio" id="Sold" name="NewCar.InventoryStatus" value="Sold">
    <label for="Sold">Sold</label><br>
    <label for="NoU">New or Used:</label><br>
    <input type="radio" id="New" name="NewCar.IsNew" value="true">
    <label for="New">New</label><br>
    <input type="radio" id="Used" name="NewCar.IsNew" value="false">
    <label for="Used">Used</label><br>
    <label for="Image">Image URL:</label><br>
    <input type="text" id="Image" name="NewCar.ImageURL"><br><br>
    <input type="submit" value="Submit">
</form>