@page
@model Car_Lots_R_Us.Pages.EditCarModel
@{
    ViewData["Title"] = "EditCar";
}

<div class="text-center" style="border: solid">
    <h1 class="display-4">Car Lots R' Us</h1>
</div>

<br />

<div>
    <h2>EditCar</h2>
</div>
